extends layout

block content
  .card.mb-2
    .card-body
      h5.card-title Upload New

      .col.s12
        if msg == 1
          .success
            | Photo uploaded successfully
        else if msg == 2
          .error
            | File size too large
        else if msg == 3
          .error
            | Invalid file type. Only JPG, PNG or GIF file are allowed.

      form.form-inline(action='/receipt/create' method="POST" enctype="multipart/form-data")

        .form-group
          label(for='exampleFormControlFile1')
          input#exampleFormControlFile1.form-control-file(type='file' name="photo" required)

        button(type='submit' class="btn btn-primary mb-2") Upload

  .card
    .card-body
      h5.card-title Recent

      if receipts.length
        .row
          each pic, index in receipts
            .col-lg-3.col-md-4.col-xs-6.thumb.mb-2
              a.thumbnail(href='#' data-date=pic.createdAt.toLocaleString() data-toggle='modal' data-title='' data-image=pic['path'] data-target='#exampleModal')
                img.img-thumbnail(src=pic['path'] alt='Another alt text')

        #exampleModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
          .modal-dialog.modal-lg
            .modal-content
              .modal-header
                h4#exampleModal-title.modal-title
                button.close(type='button' data-dismiss='modal')
                  span(aria-hidden='true') &times;
                  span.sr-only Close
              .modal-body
                p#result.col-md-12

      else
        .caption No photos uploaded yet.

block scripts
  script.
    $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var date = button.data('date') // Extract info from data-* attributes
        var result = button.data('result') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.

        var modal = $(this)
        modal.find('.modal-title').text(date)
        modal.find('.modal-body p').val(result)
    })
