extends application

block main
  style(type='text/css').

  .container

    nav.navbar.navbar-light.bg-light.justify-content-between.mb-2.navbar-expand-lg
      a.navbar-brand(href='/') receipt-scan

    block content


